deepspeed==0.7.7
wheel
pytest==7.4.4
matplotlib==3.7.1
jupyter==1.0.0
ipython==7.34.0
ipdb==0.13.13
gpustat==1.1.1
packaging==24.1
scikit-learn==1.2.2
spacy==3.7.5
munch==4.0.0
einops==0.8.0
opt_einsum
fvcore==0.1.5.post20221221
gsutil==5.30
cmake==3.27.9
pykeops==2.2.3
zstandard==0.22.0
psutil==5.9.5
h5py==3.9.0
twine==5.1.0
gdown==5.1.0
hydra-core==1.3.1
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0
pyrootutils==1.0.4
rich==13.7.1
transformers==4.25.1
datasets==2.8.0
pytorch-lightning==1.8.6
triton==2.0.0.dev20221202
wandb==0.13.7
timm==0.6.12
torchmetrics==0.10.3
git+https://github.com/mlcommons/logging.git@2.1.0
flash-attn==2.5.9.post1
